<ion-view ng-controller="PostersCtrl">
  <ion-content class="padding">
    <div class="list card">


    <div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
<div class="item item-avatar">
  <img src="avatar.jpg">
  <h2>Pretty Hate Machine</h2>
  <p>Nine Inch Nails</p>
</div>
    </div>
  </ion-content>
  <div style="margin-bottom:50px;background:none;border:none" class="bar bar-footer bar-stable">

      <button class="button button-calm icon-left ion-compose pull-right">New</button>

  </div>
</ion-view>
