<ion-view title="Login" ng-controller="LoginCtrl">


	<ion-content>

		<img class="logo" ng-src="{{imgSrc}}" />


		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="username">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="password">
		  </label>
		</div>
		<div class="col">
		<a href="#/clickit" class="button button-energized">
		  Login
		</a>

		<a href="#/register" class="button button-energized">
		  Register
		</a>
		</div>

	</ion-content>
</ion-view>
