<ion-view title="Which Building?">
  <ion-content class="padding">

    <div class="row">
      <div class="col">
        <a href="#">
          <div class="card">
            <div class="item item-divider">
              Old Union
            </div>
            <div class="item item-image">
              <img ng-src="../img/clickit_logo_full.png"/>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#">
          <div class="card">
            <div class="item item-divider">
              Old Union
            </div>
            <div class="item item-image">
              <img ng-src="../img/clickit_logo_full.png"/>
            </div>
          </div>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
